@import url(Roboto/Roboto-Black.ttf);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto',sans-serif;
    background: #333;
    color: white;
    line-height: 1.6;
}
.slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.slide{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide.current{
    opacity: 1;

}
.slide .content{
    left: -600px;
    opacity: 0;
    bottom: 70px;
    width: 500px;
    position: absolute ;
    background-color: rgba(255, 255, 255,0.7);
    color: #333;
    padding: 35px;
    box-shadow: rgba(0, 0, 0,5.5);
    
}
.slide .content h1{
    margin-bottom: 10px;
}
.slide.current .content{
opacity: 1;
transform: translateX(600px);
transition: all 0.7s ease-in-out 0.3s;
}
  button#next{
    position: absolute;
    top: 50%;
    right: 15px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    
}
button#prev{
    position: absolute;
    top: 50%;
    left: 15px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
        
}
button#next:hover{
background-color: #fff;
color: #333;
}
button#prev:hover{
    background-color: #fff;
    color: #333;
    }
    @media(max-width:500px)
    {
        .slide .content{
            bottom: -300px;
            left: 0;
            width: 100%;
        }
        .slide.current .content{
            transform: translateY(-300px);
        }
    }
